<!--引入layout.html模板，并重写 % block content 中内容 -->
{% extends 'layout.html' %}
<!--重写 block content中内容 -->
<!--修改个人资料 -->
{% block content %}

    <!--当未登录时，直接访问个人中心url则跳转到登录界面
    {% if "user_name" not in session %}
    <script>
    window.location="{{ url_for("user_login") }}"
    </script>
    {% endif %}
-->
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron" style="padding: 5px 5%">
        <h2>{{ session.get("user_name") }}的个人中心</h2>
    </div>
    <div>

        {% include "user_menu.html" %}

        <div class="col-md-10">

            <div class="jumbotron" style="padding-top: 10px">
                <h2>修改个人资料</h2>
                <hr style="border: dashed">

                {% for message in get_flashed_messages(with_categories=False, category_filter=("err")) %}
                    <h3 style="color: red"> {{ message }}</h3>
                {% endfor %}

                {% for message in get_flashed_messages(with_categories=False, category_filter=("ok")) %}
                    <h3 style="color: green"> {{ message }}</h3>
                {% endfor %}

                <form role="form" method="post">
                    <div class="form-group">
                        <label for="user_name">用户名</label>
                        <input type="text" id="user_name" name="user_name"
                               class="form-control" value="{{ user.name }}" required>
                    </div>

                    <div class="form-group">
                        <label for="user_email">用户邮箱</label>
                        <input type="email" id="user_email" name="user_email"
                               class="form-control" value="{{ user.email }}" required>
                    </div>

                    <div class="form-group">
                        <label for="user_age">用户年龄</label>
                        <input type="number" id="user_age" name="user_age"
                               class="form-control" value="{{ user.age }}" required>
                    </div>

                    <div class="form-group">
                        <label for="user_birthday">用户生日</label>
                        <input type="date" id="user_birthday" name="user_birthday"
                               class="form-control" value="{{ user.birthday }}" required>
                    </div>

                    <div class="form-group">
                        <label for="user_face">用户头像</label>
                        <input type="file" id="user_face" name="user_face"
                               class="form-control" value="{{ user.face }}">
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn-success" name="submit" value="修改">
                    </div>
                </form>
            </div>
        </div>

    </div>


{% endblock %}

{% block js_code %}
    <script>
        $(document).ready(
            function () {
                $("#item-3").addClass("list-group-item-success")
            }
        );
    </script>
{% endblock %}