<!--引入layout.html模板，并重写  block content 中内容 -->
{% extends 'layout.html' %}
<!--重写 block content中内容 -->
{% block content %}

    {% for message in get_flashed_messages(with_categories=False, category_filter=("err")) %}
        <h3 style="color: red"> {{ message }}</h3>
    {% endfor %}

    {% for message in get_flashed_messages(with_categories=False, category_filter=("ok")) %}
        <h3 style="color: green"> {{ message }}</h3>
    {% endfor %}

    <form role="form" method="post" class="col-lg-6 col-md-offset-3">
        <div class="form-group">
            <label for="user_name">{{ form.user_name.label }}</label>
            {{ form.user_name }}
        </div>

        <div class="form-group">
            <label for="user_pwd">{{ form.user_pwd.label }}</label>
            {{ form.user_pwd }}
        </div>

        <div class="form-group">
            <label for="user_email">{{ form.user_email.label }}</label>
            {{ form.user_email }}
        </div>

        <div class="form-group">
            <label for="user_age">{{ form.user_age.label }}</label>
            {{ form.user_age }}
        </div>

        <div class="form-group">
            <label for="user_birthday">{{ form.user_birthday.label }}</label>
            {{ form.user_birthday }}
        </div>

        <div class="form-group">
            <label for="user_face">{{ form.user_face.label }}</label>
            {{ form.user_face }}
        </div>

        <div class="form-group">
            {{ form.submit }}
        </div>
    </form>

{% endblock %}

{% block js_code %}
    <script>
        $(document).ready(
            function () {
                $("#nav-5").addClass("active")
            }
        );
    </script>
{% endblock %}